.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form,
.box {
  width: 40rem;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,.1);
  padding: 2rem;
}

.upload {
  width: 17rem;
  height: 5rem;
  background: #ccc;
  border: 2px dashed #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload > p {
  font-size: 1rem;
  font-weight: 700;
}

.form button,
.box > button,
.box > a {
  padding: 0.5rem 1rem;
  background: #4cf;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer; 
}

.form button:disabled {
  background: #ccc;
  cursor: not-allowed
}

.box > h4 {
  font-style: italic;
}

.box > p {
  font-size: 1rem;
  text-align: center;
}

.box > .copy {
  margin-bottom: 1rem;
  background: rgb(221, 255, 68);
  font-size: 0.8rem;
  position: relative;
}

.box > .copy:focus::after {
  content: "Copied";
  position: absolute;
  top: 30%;
  right: -3rem;
  color: #333;
}